.employee-table  {
    font-family: Arial, sans-serif;
    margin: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table thead{
    background: #131425 !important;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #293545;
    ;
}

.employee-info .email {
    font-size: 0.85em;
    color: #666;
}

.tag {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.85em;
    color: #fff;
}

.tag.backend {
    background: #4caf50;
}

/* verde */
.tag.design {
    background: #ff9800;
}

/* naranja */
.tag.marketing {
    background: #2196f3;
}

/* azul */
.tag.sales {
    background: #9c27b0;
}

/* morado */

button.edit,
button.delete {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 5px;
}

button.edit {
    color: #3dd041;
}

button.delete {
    color: #f44336;
}

button.edit:hover {
    color: #5dd061;
}

button.delete:hover {
    color: #ff1100;
}

.pagination {
    margin-top: 15px;
    text-align: center;
}

.pagination button {
    background: #ffffff;
    border: none;
    padding: 6px 10px;
    margin: 0 3px;
    cursor: pointer;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .filters button {
        flex: 1 1 100%;
    }

    .employee-table th,
    .employee-table td {
        font-size: 0.9em;
    }
}
